/* Common Style */
*{
    margin: 0;
    padding: 0;
}
    
#hero-section {
    margin: 40px 50px;


.hero-banner{
    background: linear-gradient(80deg, rgba(9, 7, 16, 0.403), rgba(22, 10, 36, 0.7)) ,url('/images/BannerImage.png');
    height: 90vh;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

}
.banner-content{
    color: white; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
.offer-section{
    margin: 40px;
}
.offer-content{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.offer-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.offer-tagline{
    font-size: 50px;
    color: red;
    margin-bottom: 20px;
}
.offer-slogan{
    color: red;
}
.offer-categories{
    font-weight: 700;
    font-size: 25px;
    margin-top: 5px;
}

.party{
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(26, 10, 10, 0.992) 100%), url('/images/Vectorrr.png');
    opacity: 1;
    height: 80vh;
    background-repeat: no-repeat;
    border-radius: 15px;
    display: flex;
    margin: 50px 60px;
    background-size: cover;
    justify-content: space-around;
    
}
.party-container{
    display: flex;
    align-items: center;
    gap: 200px;
}
.party-content{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.party-content h2{
    margin-bottom: 10px;
    font-size: 40px;
}
.btn{
    background-color: rgba(124, 118, 118, 0.155);
    border-radius: 20px;
    padding: 13px;
    color: white;
    margin: 15px auto 20px;
}

.addressOfParty{
    background-color: rgba(233, 150, 122, 0.189);
    height: 40vh;
    width: 91%;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .party-btn{
    background-color: rgba(243, 7, 7, 0.89);
    border: 0;
    width: 100px;
    border-radius: 10px;
    padding: 13px;
    color: white;
    margin: 15px auto 20px;
}

.container{
    display: flex;
    width: 91%;
    margin: 80px auto;
    align-items: center;
    gap: 20px;
}
.leftText{
    width: 50%;
}
.middleImage{
    width: 30%;
    border: 10px solid red;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
}
.rightText{
    width: 50%;
}